<h1>Agregar fondos
</h1>
<br>
<center>
<table>
	<tr>Agregar fondos a tu cuenta</tr><br>
	<br>
	<tr>Para agregar fondos a tu cuenta de inviertecampo.com, envia un SPEI o<br>
	transferencia electronica desde tu banca por internet seleccionando en el<br>
	listado de bancos: STP (Sistema de Transferencia y Pagos) a esta cuenta <br>
	CLABE personalisada que hemos creado para ti:</tr><br>
	<tr><?= $this->Html->link('646180114702820347',['action' =>'add']) ?></tr><br><br><br>
	<tr>1  En la pagina web de tu banco, selecciona la opcion de enviar a SPEI</tr><br>
	<tr>2  En el listado de bancos, selecciona STP (Sistema de Transferencia y Pagos)</tr><br>
	<tr>3  Ingresa tu cuenta personalizada 646180114702820347</tr><br>
	<tr>4  En el campo "referencia" o "concepto" escribe tu numero de cliente 282034<br>
	si tu banco es banamex debes de incluir tu RFC y como Razon Social tu nombre completo.</tr><br>
	<tr>5  En el campo "beneficiario", escribe tu nombre completo</tr><br>


	<!--<tr>
		<th>Saldo</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
	<?php foreach ($fondeobanco as $fondeobanco): ?>
	<tr>
		<td>
		<?php echo " ".$fondeobanco->Saldo; ?>
		</td>
		<td>
		<?= $this->Html->link('Modificar Saldo',['action' =>'edit',$fondeobanco->Id]); ?>
		</td>
		<td>
		<?= 
		$this->Form->postLink(
		'Delete',
		['action'=>'delete',$fondeobanco->Id],
		['confirm'=>'Estas seguro?']);
		?>
		</td>
	<?php endforeach; ?>
	<tr>-->

</table>
</center>
<!--<?= $this->Html->link('Anadir dineros',['action' =>'add']) ?>-->