<h1> Mi perfil
</h1>

 <table>
 <?php foreach ($articles as $article):  ?>
  <tr>
    <th>Nombre</th>

    </tr>
    <td>
    <?php echo "".$article->Nombre; ?>
    </td>
 </table>
 <table>
 <?= $this->Html->link('Cambiar Contraseña',['action'=>'edit',$article->Calificacion]); ?>
 </table>
 <table>
 </table>
  <table>
 </table>
 <table><th></th></table>

 <table>

 <th>Cuentas bancarias</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
    </td>
    </td>
     <tr>
    <th>Banco </th>
    <th> Calificacion</th>
    <th> Pagos de Prestamos</th>
    <th> Pagos a Tiempo</th>
    <th> id investor </th>
    <th>Id Saldo </th>
    <th>Acciones </th>
    <th> </th>
  </tr>
  
  <tr>
    
    <td>
        <?php echo "".$article->Banco; ?>
    </td>
     <td>
       <?php echo "".$article->Calificacion; ?>
    </td>
        <td>
        <?php echo "".$article->Pagos_Prestamos; ?>
    </td>
        <td>
        <?php echo "".$article->Pagos_Tiempo; ?>
    </td>
    <td>
        <?php echo "".$article->Id_Investor; ?>
    </td>
    <td>
        <?php echo "".$article->Id_saldo; ?>
    </td>
   <td>
<?= $this->Html->link('Editar',['action'=>'edit',$article->Calificacion]); ?>
<td>
<?=
   $this->Form->postLink(
   'Elimiinar',
   ['action'=>'delete',$article->Calificacion],
   ['confirm'=>'Estas seguro?']);
?>
</td>

 </td>
          </tr>
          
<?php endforeach; ?>
</table>
<table>
<tr>
<td></td><?= $this->Html->link('Agregar cuenta',['action'=>'add']) ?>
</tr>
</table>
<table>
</table>
<table>
</table>
<table>
</table>
<table>
<th></th>
</table>
<table>
<th>Beneficiario</th>
</table>
<table>
<th>
<?php
echo $this->Form->create($article);
echo $this->Form->button(__('Agregar Beneficiario'));
echo $this->Form->end();

?>
</th>
</table>
<table>
</table>
<table>
</table>
<table>
<th></th>
</table>
<table>
<th>Facturacion</th>
</table>
<table>
<th>
<?php
echo $this->Form->create($article);
echo $this->Form->button(__('Si'));
echo $this->Form->end();

?>
</th>
<th>
<?php
echo $this->Form->create($article);
echo $this->Form->button(__('No'));
echo $this->Form->end();

?>
</th>
<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
</table>
<table>
Aqui va algun texto raro sobre la facuracion que no alcanze a leer anoche porque ya me dormia y me dolian los ojos
</table>


