<h1>Invierte Campo</h1>


<div >

<table >
	<tr>
		<th>Prueba</th>
		<th></th>
		<th></th>
	</tr>
        
	<?php foreach ($company as $companys): ?>
    
    <tr>
		<td>
			<?= $this->Html->link($companys->Username, ['action'=>'view', $companys->Username]); ?>
		</td>

		<td>
			<?php echo $this->Html->link('Editar',['action'=>'edit', $companys->Username]); ?>
		</td>

		<td>
			<?php echo $this->Form->postLink(
			'Delete',
			['action'=>'delete', $companys->Username],
			['confirm'=>'Estas seguro de eliminar este registro?']); ?>
		</td>
	
	</tr>

	<?php endforeach; ?>

</table>

<?php echo $this->Html->link('Añadir Nuevos Datos',['action'=>'add']); ?>

</div>