<h1>
<?php echo($company->Username) ?>
</h1>


<table>
	<tr>
		<th>Place</th>
		<th>Phone</th>
		<th>Facebook</th>
		<th>Email</th>
		<th>Extra</th>
	</tr>

	<tr>
		<td>
			<?php echo($company->lugar) ?>
		</td>

		<td>
			<?php echo " ".$company->Telefono; ?>
		</td>

		<td>
			 <li><a href="<?php echo " ".$company->Link_FB; ?>"> Facebook </a>
		</td>

		<td>
			<?php echo " ".$company->Correo; ?>
		</td>

		<td>
			<?php echo " ".$company->extras; ?>
		</td>
	</tr>


</table>